/* Navbar.css */
.navbar {
  background: linear-gradient(to right, #3490dc, #1e3a8a);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}
.navbar-logo:hover{
scale: 1.1;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navbar-user-dropdown {
  position: relative;
  display: inline-block;
}

.navbar-user-dropdown span {
  cursor: pointer;
}
.nav-btn{
background: none;
}

.nav-btn:hover{
background: none;
scale: 1.1;
}

@media screen and (max-width: 480px) {
  .navbar{
    background: linear-gradient(to right, #3490dc, #1e3a8a);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 10px 10px 0;
    border-radius: 20px;
  }
}
