/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navbar-user-dropdown {
  position: relative;
  display: inline-block;
}

.navbar-user-dropdown span {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar-user-dropdown:hover .dropdown-content {
  display: block;
}
